
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$gray:#6c6c6c;
$white:#fcfcfc;
$green: #23dc90;
$blue:#4ed7d9;
$vivid-tangerine:#FD9683;
$light-gray:rgb(185, 185, 185);
$red: rgb(246, 107, 130);
//body
$body-bg:$white ;
$body-color: $gray;

$theme-colors: (
	"primary": $gray,
	"green": $green,
	"blue":$blue,
	"danger":$vivid-tangerine,
	"light-gray":$light-gray,
	"warning":$red
	);
//links 
$link-hover-color:          $blue;
$link-hover-decoration:     none ;

//fonts
$font-family-sans-serif:   'Open Sans', sans-serif;
$font-family-monospace: 'Roboto', sans-serif;
$font-family-base:$font-family-monospace;
$font-size-base: .8rem;
$h1-font-size: 1.2rem;
//navs 

$nav-link-padding-y:                1rem ;
$nav-link-padding-x:                2.5rem ;
$navbar-brand-padding-y:0;
//inputs
$input-btn-padding-y:         .7rem ;
$input-border-color:#d2d2d2;

//buttons
$btn-padding-y:1rem;
$btn-padding-x:3.5rem;

//nav-tabs
$nav-tabs-border-width: 0;
$nav-tabs-link-active-border-color: 0;

//list-group
$list-group-border-width:0;

//color text
$yiq-text-dark: $white;


//modals
$modal-md: 600px;

// Progress bars

$progress-height:                   .1rem ;
// Bootstrap
@import '~bootstrap/scss/bootstrap';

