/*footer*/
a.nav-link.dropdown-toggle {
  padding: 0px
}

h1 {
  color: #FF907A;
}

footer#footer {
  background: #424242;
  color: rgba(192, 192, 192, 255);
  padding: 12px;
  font-size: 7pt;
  margin-top: 5rem;
}

.page-heading p {
  min-width: 800px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
}

.img-nav-ava {
  max-height: 50px;
  max-width: 50px;
}

footer#footer a {
  color: rgba(192, 192, 192, 255);
  font-size: 9pt;
  display: inline-block;
  margin: 20px 0 20px 24px;
}

footer#footer a:hover {
  color: rgb(255, 255, 255);
}

footer#footer h2 {
  color: #fff;
  font-size: 11pt;
  margin-top: 10px;
  font-weight: 500;
}

.navbar-brand h1 {
  line-height: 45px;
  height: 30px;
  margin-left: 55px;

}

//checkbox
label input {
  display: none; /* <-- hide the default checkbox */
}

label span { /* <-- style the artificial checkbox */
  height: 15px;
  width: 15px;
  border: 1px solid $light-gray;
  display: inline-block;
  position: relative;
  border-radius: 20%;
  top: 3px;
}

[type=checkbox]:checked + span:before { /* <-- style its checked state..with a ticked icon */
  content: '\2714';
  position: absolute;
  color: $blue;
  top: -5px;
  left: 0;
  font-size: 16px;
}

.navbar-brand .circle {
  float: left;
  background: #ff907a;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profile-description {
  background-color: #424242
}

.profile-description span.location {
  background-image: url("/img/icons/location_small.png");
  background-repeat: no-repeat;
  background-size: 12px;
  padding-left: 25px;

}

.profile-description span.availability.text-success {
  background-image: url("/img/icons/round.png");
  background-repeat: no-repeat;
  background-position: 3% 57%;
  padding-left: 25px;
}

.profile-description span.availability.text-danger {
  background-image: url("/img/icons/round-busy.png");
  background-repeat: no-repeat;
  background-position: 3% 57%;
  padding-left: 25px;
}

nav.nav .nav-link.active {
  color: #56d7d9
}

nav.sidebar .nav-item.profile .nav-link {
  background-image: url("/img/menu-ico/profile.png");
  background-repeat: no-repeat;
  background-position: 2% 45%;
  background-size: auto;
}

nav.sidebar .nav-item.profile .nav-link.active {
  background-image: url("/img/menu-ico/profile-active.png");
  background-repeat: no-repeat;
  background-position: 2% 45%;
  background-size: auto;
}

nav.sidebar .nav-item.messages .nav-link {
  background-image: url("/img/menu-ico/messages.png");
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

nav.sidebar .nav-item.messages .nav-link.active {
  background-image: url("/img/menu-ico/messages-active.png");
}

nav.sidebar .nav-item.news .nav-link {
  background-image: url("/img/menu-ico/news.png");
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

nav.sidebar .nav-item.news .nav-link.active {
  background-image: url("/img/menu-ico/news-active.png");
}

nav.sidebar .nav-item.notifications .nav-link {
  background-image: url("/img/menu-ico/notification.png");
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

nav.sidebar .nav-item.notifications .nav-link.active {
  background-image: url("/img/menu-ico/notification-active.png");

}

nav.sidebar .nav-item.events .nav-link {
  background-image: url("/img/menu-ico/events.png");
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

nav.sidebar .nav-item.events .nav-link.active {
  background-image: url("/img/menu-ico/events-active.png");

}

nav.sidebar .nav-item.battles .nav-link {
  background-image: url("/img/menu-ico/trophy.png");
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

nav.sidebar .nav-item.battles .nav-link.active {
  background-image: url("/img/menu-ico/trophy-active.png");

}

nav.sidebar .nav-item.music .nav-link {
  background-image: url("/img/menu-ico/music.png");
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

nav.sidebar .nav-item.music .nav-link.active {
  background-image: url("/img/menu-ico/music-active.png");

}

nav.sidebar .nav-item.video .nav-link {
  background-image: url("/img/menu-ico/videos.png");
  background-repeat: no-repeat;
  background-position: 0% 50%;
}

nav.sidebar .nav-item.video .nav-link.active {
  background-image: url("/img/menu-ico/videos-active.png");

}

nav.sidebar .nav-item .nav-link {
  background-size: 20px;
}

nav.sidebar {
  padding: 0rem 1rem 0rem 1rem;
  border: 1px solid;
  border-color: rgba(210, 210, 210, 0.4);
}

.content.main > .row {
  padding: 0rem 1rem 0rem 1rem;
  border-right: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(210, 210, 210, 0.4);
}

.content.main > .row:first-child {
  border-top: 1px solid;
  border-color: rgba(210, 210, 210, 0.4);
}

#avatar-file {
  display: none;
}

#avatar-file.ready {
  display: block;
}

#file-upload {
  width: 50%;
}

.play-button {
  border: 0;
  background-color: transparent;
  background-image: url("/img/icons/play.png");
  background-position: 50%;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.play-button.playing {
  background-image: url("/img/icons/pause.png");
}

.music-download, .music-share, .music-delete {
  cursor: pointer;
}

.music-download {
  background-image: url("/img/icons/download.png");
  height: 35px;
  background-repeat: no-repeat;
  background-position: 33% 0;
  width: 26px;
  text-align: center;
  padding-top: 25px;
}

.music-share {
  background-image: url("/img/icons/share.png");
  height: 35px;
  background-repeat: no-repeat;
  background-position: 25% 0;
  width: 25px;
  text-align: center;
  padding-top: 25px;
}

.music-delete {
  background-image: url("/img/icons/delete.png");
  height: 35px;
  background-repeat: no-repeat;
  background-position: 51% 0;
  width: 45px;
  text-align: center;
  padding-top: 25px;
}

.music > .music-actions > .music-download,
.music > .music-actions > .music-share,
.music > .music-actions > .music-delete {
  display: none;

}

.music:hover > .music-actions > .music-download,
.music:hover > .music-actions > .music-share,
.music:hover > .music-actions > .music-delete {
  display: block;
}

.music-length {
  color: rgb(164, 197, 203);
}

.music:hover > .music-actions > .music-length {
  display: none;
}

.video-js .vjs-big-play-button {
  line-height: 2em;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.vjs-big-play-centered .vjs-big-play-button {
  margin-top: -1em;
  background-color: rgba(18, 18, 19, 0.7);
  border: 0;
}

.video-title {
  position: absolute;
  z-index: 9999;
  top: 15px;
  left: 15px;
  color: white;
}

.video-time {
  position: absolute;
  z-index: 9999;
  right: 15px;
  top: 15px;
  color: white;
}

.video-description {
  position: absolute;
  z-index: 9999;
  bottom: 15px;
  left: 15px;
  color: white;
}

.submenu .nav-item.active a {
  color: $vivid-tangerine;
}

.submenu .nav-item.active:after {
  content: "\25BC";
  left: 5rem;
  top: 2.9rem;
  position: absolute;
  color: $vivid-tangerine;
}

.email {
  color: $blue;
}

.board {
  height: 200px;
}

.board.board-create p {
  color: rgba(108, 108, 108, 0.639);
}

.board.board-create .plus {
  font-size: 70px;
  color: $blue;
}

.board.board-create {
  box-shadow: 0px 0px 3.96px 0.04px rgba(0, 0, 0, 0.11);
}

.review-time {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: rgb(164, 197, 203);
}

.media img {
  width: 50px;
  height: 50px;
}

.link-header {
  color: $blue;
  text-transform: none;
  font-weight: bold;
  text-decoration: underline;
}

.board-select ul.list-group {
  border: 1px solid $blue;
  border-radius: 5px;
}

.board-select ul.list-group a {
  color: rgb(157, 156, 156);
}

.board-select ul.list-group a:hover {
  text-decoration: underline;
  color: $blue;
}

.board-select ul.list-group li.list-group-item:first-child {
  border-bottom: 1px $blue solid;
  color: $blue;
}

.board-page .board-select ul.list-group li.list-group-item:first-child {
  border: 0;
}

.board-page div.btn-group {
  margin: auto;
}

.fa.fa-star {
  color: #fff798;
}

.fa.fa-star.checked {
  color: #ffc000;
}

.card-body {
  padding-left: 1rem;
  padding-top: .5rem;
}

.card-title {
  margin-bottom: .15rem;
}

.event-followers {
  background-image: url("/img/icons/followers.png");
  height: 35px;
  background-repeat: no-repeat;
  background-position: 25% 0;
  width: 25px;
  text-align: center;
  padding-top: 25px;
  float: left;
  position: absolute;
  right: 10px;
  bottom: 25px;
}

.card-footer-custom {
  height: 50px;
  padding: 0 1rem 0;
}

.event-like {
  background-image: url("/img/icons/like.png");
  height: 35px;
  background-repeat: no-repeat;
  background-position: 48% 0;
  width: 32px;
  text-align: center;
  padding-top: 25px;
  float: right;
  position: absolute;
  right: 45px;
  bottom: 25px;
}

.card-text {
  position: absolute;
  width: 20%;
  bottom: 0;
}

.card-footer {
  min-height: 65px;
}

.link-reload {
  background-size: 20px;
  text-decoration: underline;
  background-image: url("/img/icons/reload.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-left: 1.7rem;
}

.modal-title {
  text-transform: uppercase;
}

.link-reload a {
  color: $blue;
}

.modal-body textarea {
  height: 140px;
}

.modal-body .container-fluid .croppie-container {
  height: 225px;
}

.modal-body .container-fluid {
  padding: 0;
}

.modal-body .container-fluid .row:nth-child(1), .modal-body .container-fluid .row:nth-child(2) {
  border-bottom: 1px solid #e9ecef;
}

.music-title {
  margin-bottom: 0px;
}

.music-author {
  color: rgb(162, 162, 162);
}

.music-list {
  width: 100%;
  list-style: none;
  padding-top: 1rem;
}

.style-select {
  padding: .8rem;
}

.tag {
  float: left;
  padding: .3rem;
}

.tag .close {
  font-weight: 400;
  padding-left: .3rem;
}

.dropzone {
  min-height: 110px;
}

#album-cover {
  display: none;
}

.qq-upload-list li.qq-upload-success {
  border: 0;
}

.qq-file-name {
  color: #6c6c6c;
}

.qq-upload-list {
  box-shadow: none;
}

.qq-upload-list li {
  padding: 0;
}

.qq-upload-list li.qq-upload-success {

}

.qq-progress-bar {
  height: 1px;
}

.qq-upload-button {
  background-color: $blue;
}

.qq-upload-retry {
  color: $blue !important;
}

.qq-upload-delete {
  color: $vivid-tangerine !important;
  background-color: transparent;
  text-shadow: none;
}

.qq-upload-delete:hover {
  color: $vivid-tangerine !important;
  background-color: transparent;
  text-shadow: none;
}