/*landing*/

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '~bootstrap/scss/bootstrap';
.landing .presentation-block {
    background-image: url(/img/landing/top.png);
    background-size: cover;
   
}


footer#footer {
    background: #424242;
    color: rgba(192, 192, 192, 255);
    padding: 12px;
    font-size: 7pt;
    margin-top: 5rem;
}

footer#footer a {
    color: rgba(192, 192, 192, 255);
    font-size: 9pt;
    display: inline-block;
    margin: 20px 0 20px 24px;
}
footer#footer a:hover {
    color: rgb(255, 255, 255);
}

footer#footer h2{
    color: #fff;
    font-size: 11pt;
    margin-top: 10px;
    font-weight: 500;
}
.presentation-block .container {
    padding-top: 8em;
    padding-bottom: 10em;
}

.landing .presentation-block .logo-circle {
    margin: auto;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: rgba(255, 144, 122, 255);
}

.landing .presentation-block h1.logo-title {
    color: rgba(255, 144, 122, 255);
    font-weight: 500;
    font-size: 20pt;
    margin: 16px auto;
}

.landing .presentation-block h2 {
    font-size: 28pt;
    font-weight: 300;
    color: rgb(236, 236, 236);
}
.landing .presentation-block p {
    font-size: 10pt;
    font-weight: 300;
    color: rgb(236, 236, 236);
}
.landing .presentation-block .registration-wrapper {
    margin-top: 32px;
    margin-bottom: 15px;
}

.landing .presentation-block .btn-link {
    font-size: 10pt;
}

.landing .presentation-block .presentation-block-overlay {
    background-image: url(/img/landing/top.overlay.png);
    background-size: cover;
    height: 12px;
    width: 100%;
}

.landing h3 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 26pt;
    color: rgba(85, 85, 86, 255);
}

.landing p {
    font-size: .8rem;
    font-weight: 300;
    color: rgba(149, 149, 149, 255);
}

.landing .create-account-block {
    overflow: hidden;
}

.landing .create-account-block .container {
    margin-top: 150px;
    margin-bottom: 160px;
    position: relative;
}

.landing .create-account-block p {
    margin-top: 16px;
    margin-bottom: 42px;
}

.landing .create-account-block .presentation-img {
    position: absolute;
    top: 64px;
    left: 60%;
    height: 384px;
    overflow: visible;
    max-width: 880px;
}
.landing .create-account-block .presentation-img img {
    max-width: 880px;
}

.landing .create-account-block .bottom-gradient-overlay {
    background-image: url(/img/landing/bottom-gradient-overlay.png);
    background-size: cover;
    height: 12px;
    width: 100%;
}

.landing h4 {
    margin: 24px 0 12px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11pt;
    color: rgba(120, 120, 120, 255);
}

.landing .capabilities-block .container {
    padding-top: 64px;
    margin-bottom: 64px;
}

.landing .icon {
    max-height: 36px;
}

.landing .capabilities-block p {
    font-size: .7rem;
}

.landing .manage-your-career {
    background-image: url(/img/landing/manage-your-career.png);
    background-size: cover;
}

.landing .manage-your-career .container {
    padding-top: 5em;
    padding-bottom: 5em;
}

.landing .manage-your-career p {
    margin: 16px 0 32px;
    line-height: 1.75em;
}

.landing .manage-your-career h3 {
    font-size: 25pt;
}

.landing .love-music .container,
.landing .love-dance .container,
.landing .celebrate-block .container {
    padding-top: 3em;
    padding-bottom: 5em;
}
.landing .love-music {
    background-image: url(/img/landing/love-music.png);
    background-size: 840px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 28px;
}
.landing .love-dance {
    background-image: url(/img/landing/love-dance.png);
    background-size: 940px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60px;
}

.landing .love-music h3 {
    letter-spacing: 6px;
}
.landing .love-dance h3 {
    letter-spacing: 5px;
}
.landing .love-music p,
.landing .love-dance p {
    font-size: .8rem;
}

.landing .love-music p {
    margin-bottom: 430px;
    margin-top: 42px;
}
.landing .love-dance p {
    margin-bottom: 520px;
    margin-top: 42px;
}
.landing .registration-block .btn-link {
    color: rgba(71, 203, 205, 255);
    font-size: 1rem;
}
.landing .registration-block .registration-wrapper {
    margin: 8px 0 12px;
}

.landing .registration-block h3 {
    padding: 48px 0 12px;
}

.landing .registration-block h5 {
    padding-bottom: 32px;
    font-size: 12pt;
    font-weight: 300;
    color: rgba(85, 85, 86, 255);
}

.landing .registration-block .form-control {
    font-size: 8pt;
    padding: 10px;
}

.landing .registration-block .container {
    padding-bottom: 72px;
}

.love-music:after,
.love-dance:after,
.capabilities-block.second:after,
.celebrate-block:after {
    content: "";
    background-image: url(/img/landing/shadow-overlay.png);
    background-size: contain;
    height: 36px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
}
.create-account-block:after {
    content: "";
    background-image: url(/img/landing/shadow-overlay-flipped.png);
    background-size: cover;
    height: 20px;
    width: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: bottom;
}

.celebrate-block .text-left p {
    padding: 1em 0 36em;
}

.celebrate-block {
    background-image: url(/img/landing/celebrate-bg.png);
}

.celebrate-block {
    background-image: url(/img/landing/celebrate-bg-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 8px;
    background-position-x: center;
}

.shadowed {
    -webkit-filter: drop-shadow(0px 40px 17px rgba(0,0,0,0.25));
    /*filter: url(img/landing/create-account-block.png);*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.shadowed-2 {
    -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}


/*modals*/

.modal-title {
    text-transform: uppercase;
    font-weight: 300;
}

/*forms*/

.form-check-label {
    font-size: 11pt;
    vertical-align: text-top;
    color: rgba(85, 85, 86, 255);
}

.form-control {
    font-size: 8pt;
    padding: 10px;
}

.errors-block {
    color: #bd2f15;
    font-size: 8pt;
    margin-bottom: 8px;
}



.btn {
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 300;
    font-size: 12pt;
}

.btn-primary {
    background-color: rgb(78, 215, 217);
    border-color: rgb(78, 215, 217);
}
.btn-primary:hover {
    background-color: rgb(68, 189, 191);
    border-color: rgb(68, 189, 191);
}

.btn-link {
    font-weight: 400;
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.btn-link:hover {
    color: rgba(162, 162, 162, 255);
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 678px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 678px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 678px;
    }
}